<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//FR"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>icilaba-creation [home]</title>
	<link rel="stylesheet" href="icilaba-creation/css/base.css" media="all" />
	<link rel="shortcut icon" href="icilaba-creation/css/assets/favicon.ico">
</head>
<body>
	<noscript>
		<p>Afin de consulter ce site avec une qualité optimale, il est	souhaitable que vous activiez le javascript dans votre navigateur.</p>
	</noscript>
	
	<div id="global-container">
	
		<!-- HEADER -->
		<div id="header">
			
			<div id="express-menu">
			
				<div id="direct-link">
					<ul>
						<li><a href="#">contact</a></li>
						<li><a href="#">localisation</a></li>
						<li><a href="#">télécharger</a></li>
						<li><a href="#">espace client</a></li>
					</ul>
				</div>
				
				<div id="newsletter">
					<a href="#"><span>newsletter</span></a>
				</div>
				
				<div id="language" class="list-menu">
					<ul class="menu">
						<li><a title="langage" href="#"><span>language</span></a>
							<ul class="sub-menu">
								<li><a href="#"><span>français</span></a></li>
								<li><a href="#"><span>english</span></a></li>
								<li><a href="#"><span>spanish</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div id="where-to-see-us" class="list-menu">
					<ul class="menu">
						<li><a title="where-to-see-us" href="#"><span>où nous voir</span></a>
							<ul class="sub-menu">
								<li><a href="#"><span>twitter</span></a></li>
								<li><a href="#"><span>facebook</span></a></li>
								<li><a href="#"><span>viadeo</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
				
			</div>
			
			<div id="title">
				
				<div id="site-title">
					<a href="#"><span>icilaba-creation</span></a>
				</div>
				
				<div id="news-title">
					<a href="#"><span>news!</span></a>
				</div>
				
				<div id="direct-access">
					<ul>
						<li><a href="#"><span>blog</span></a></li>
						<li><a href="#"><span>mediathèque</span></a></li>
						<li><a href="#"><span>matério-thèque</span></a></li>
					</ul>
				</div>
			
			</div>
		
		</div>
		
		<!-- WRAPPER -->
		<div id="wrapper">
			
			<div id="wrapper-header">
			 
				<div id="subtitle">
					<span>structure de recherche et de développement</span>
				</div>
				
				<div id="contact">
					<a href="#"><span>nous contacter</span></a>
				</div>
				
				<div id="menu">
				 	<ul>
						<!-- <li><a href="#"><span>accueil</span></a></li> -->
						<li><a href="#"><span>à propos</span></a></li>
						<li><a href="#"><span>nos réalisations</span></a></li>
						<li><a href="#"><span>notre éveil</span></a></li>
						<li><a href="#"><span>notre environnement</span></a></li>
						<li><a href="#"><span>nos outils</span></a></li>
						<li><a href="#"><span>nos domaines</span></a></li>
					</ul>
				</div>
				
			</div>
			 
			<div id="content">

			</div>
			 
			<div id="wrapper-footer">
				
			</div>
			
		</div>
		
		<!-- FOOTER -->
		<div id="footer">
			<p>&copy; 2010 icilaba-creation. Tous droits réservés | <a href="#">mentions légales</a> | <a href="#">login</a></p>
		</div>
		
		<div id="icilaba-color" class="creation">
			<span>icilaba-creation</span>
		</div>
	
	</div>

</body>
</html>